<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Form Login</h1>
    <form action="/users/login" method="POST">
        <label>Username</label>
        <input text="text" name="username" />
        <label>Password</label>
        <input type="text" name="password" />
        <button type="submit">Login</button>
    </form>
  </body>
</html>
