<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tambah Siswa</h1>
    <form action="/siswas/create" method="POST">
        <label>Nama</label>
        <input text="text" name="nama" />
        <label>Alamat</label>
        <input type="text" name="alamat" />
        <label>Kelas</label>
        <input type="text" name="kelas">
        <button type="submit">Simpan</button>
    </form>
  </body>
</html>
